# October 16

**Conflict**

![](https://media.giphy.com/media/3oz8xABuMZ7AsrcMc8/giphy.gif)

# Warm Up 
It is possible to have multiple owners of a GitHub repository. For our warm-up today, we're going to do an exercise. Get into pairs.

1. Partner 1 & 2: Navigate to the github page for your Lastname_project
2. Partner 1: Go to "Settings." Click "Collaborators." Enter your partner's GitHub name.
3. Partner 2: You might get an email notification saying that you've been added.
4. Partner 2: Clone your partner's repo. Copy the repository location by clicking on the big, green "Clone or download" button. Open a new terminal, and type:

```git clone ``` followed by the address you copied.
5. Partner 2: Now, pick a file. Change something in it. Doesn't matter what, but it has to be something were there is already text on that line.
6. Partner 2: Add, commit and push your code.
7. Partner 1: Pull in your partner's changes. Do you see conflict?
8. Partner 1: Open the conflict file in a text editor, and let me know once you have your conflict.

# Resolving Conflict

This is a little bit social, and a little bit technical. You made a change to something that was. And in a co-owned repo, no one needs to approve your changes. You just get to make them! 

So how can we resolve these issues? 

1. **Read** First, I normally look at the changes. What did this person do? Can I see why? 
2. **Ask** If I don't understand, I ask for help.
3. **Decide** Then I do the merge, and add and commit the code.

# GBIF

We're at a bit of a crossroads in the course: a lot of the end part of the class is about making websites, and other forms of communicating results. But I think it would help if we did a little more fun programming stuff first.

We're going to get some occurrence data off of GBIF, the website for the Global Biodiversity Information Facility website. We're going to see if we can get some information on where these salamanders live.

First, we will get the names of the salamanders. I've put an empty cell below, and below it an answer. See if you can read in the `plethodon.phy` file with Dendropy, and get the names of our salamanders.

In [1]:
## Answer below
import dendropy

sal_dat = dendropy.DnaCharacterMatrix.get(path = "../data/plethodon.phy", schema="phylip")
sal_names = sal_dat.taxon_namespace.labels()

Next, we'll use a library called `pygbif`, which interfaces with GBIF to get locality information for our salamanders. We will search each salamander name against the GBIF database to get locations where that salamander is found. We are only going to do this for a couple salamanders, to keep the exercise tractable for all of us to do.

In [2]:
import pandas as pd
from pygbif import occurrences

list_of_dictionaries = []

for name in sal_names[1:5]:
    sal_dict = occurrences.search(scientificName = name)
    list_of_dictionaries.append(sal_dict)

There are 53 records for the salamaders in our sample - all our salamanders were found.  The data download as a dictionary, and for ease of processing, we will change these into dataframes. If you view one of the dictionaries, there's a lot of padding - we really only want the "results" entry.

In [3]:
import pandas as pd

dict_one = list_of_dictionaries[0]['results']
sal_df = pd.DataFrame.from_dict(dict_one)

for item in list_of_dictionaries[1:]:
    temp_df = pd.DataFrame.from_dict(item['results'])
    sal_df = sal_df.append(temp_df)

/opt/tljh/user/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

If you look at the dataframe, you'll see that there's a lot of information here, and lots of different ways that we could subset the data. For example, perhaps we only want records where a person physically saw the salamander:

In [4]:
sal_slim = sal_df[sal_df.basisOfRecord == "HUMAN_OBSERVATION"]

In [5]:
sal_slim

,acceptedScientificName,acceptedTaxonKey,accessRights,associatedSequences,basisOfRecord,bibliographicCitation,catalogNumber,class,classKey,collectionCode,...,type,typeStatus,typifiedName,verbatimCoordinateSystem,verbatimElevation,verbatimEventDate,verbatimLocality,verbatimSRS,vernacularName,year
0,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,15340283,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018-08-11 9:42:04 PM EDT,"North Carolina, US",NaN,NaN,2018.0
1,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,6711596,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2017/06/18 10:17 AM EDT,"North Carolina, US",NaN,NaN,2017.0
2,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,4315418,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-10-08,"North Carolina, US",NaN,NaN,2016.0
3,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35599-1897,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
4,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35598-1861,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
5,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35596-1861,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
6,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35598-1827,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.0
7,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35595-1861,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0
8,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35601-1861,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0
9,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-27456-1827,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0
10,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35600-1897,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.0
0,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412172,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/10 11:31 AM CST,"Arkansas, US",NaN,NaN,2018.0
1,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412325,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/11 2:28 PM CST,"Arkansas, US",NaN,NaN,2018.0
2,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703951,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/31 4:54 PM CST,"Arkansas, US",NaN,NaN,2018.0
3,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412327,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/11 2:58 PM CST,"Arkansas, US",NaN,NaN,2018.0
4,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703766,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/30 4:14 PM CST,"Arkansas, US",NaN,NaN,2018.0
5,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412174,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/10 11:39 AM CST,"Arkansas, US",NaN,NaN,2018.0
6,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703765,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/30 2:05 PM CST,"Arkansas, US",NaN,NaN,2018.0
7,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703949,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/31 4:34 PM CST,"Arkansas, US",NaN,NaN,2018.0
8,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382926,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 6:16 PM CDT,"Arkansas, US",NaN,NaN,2018.0
9,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382636,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 3:24 PM CDT,"Arkansas, US",NaN,NaN,2018.0
10,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10560349,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/31 3:38 PM CDT,"Arkansas, US",NaN,NaN,2018.0
11,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10383094,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/22 9:53 AM CDT,"Arkansas, US",NaN,NaN,2018.0
12,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382637,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 3:25 PM CDT,"Arkansas, US",NaN,NaN,2018.0
13,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382921,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 5:48 PM CDT,"Arkansas, US",NaN,NaN,2018.0
14,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382920,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 5:48 PM CDT,"Arkansas, US",NaN,NaN,2018.0
15,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382924,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 5:53 PM CDT,"Arkansas, US",NaN,NaN,2018.0
16,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382448,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 12:25 PM CDT,"Arkansas, US",NaN,NaN,2018.0
17,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382635,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 3:21 PM CDT,"Arkansas, US",NaN,NaN,2018.0
18,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10241547,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Wed Mar 14 2018 15:29:44 GMT-0500 (CDT),"Arkansas, US",NaN,NaN,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,"Plethodon asupak Mead, Clayton, Nauman, Olson ...",2431523,NaN,NaN,HUMAN_OBSERVATION,NaN,2-1587845-262,Amphibia,131,CA-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1994.0
67,"Plethodon asupak Mead, Clayton, Nauman, Olson ...",2431523,NaN,NaN,HUMAN_OBSERVATION,NaN,2-1587836-262,Amphibia,131,CA-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,"Plethodon asupak Mead, Clayton, Nauman, Olson ...",2431523,NaN,NaN,HUMAN_OBSERVATION,NaN,2-1622564-262,Amphibia,131,CA-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,"Plethodon asupak Mead, Clayton, Nauman, Olson ...",2431523,NaN,NaN,HUMAN_OBSERVATION,NaN,2-1587849-262,Amphibia,131,CA-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,6034706,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Sun Apr 30 2017 22:38:18 GMT-0400 (EDT),United States,NaN,NaN,2017.0
1,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,6451244,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Mon May 29 2017 21:54:33 GMT-0400 (EDT),"Tennessee, US",NaN,NaN,2017.0
2,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,8162054,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2017/07/15 10:24 PM EDT,United States,NaN,NaN,2017.0
3,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,3557894,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2015-10-03,"Tennessee, US",NaN,NaN,2015.0
4,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35480-1854,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0
5,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35437-1854,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.0
6,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,52-35438-1836,Amphibia,131,NC-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0
8,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,10683924,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2007/08/05 1:08 PM PDT,"North Carolina, US",NaN,NaN,2007.0
9,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17108-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
10,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17109-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
11,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17115-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
12,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17111-2800,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
13,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17112-2800,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
14,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17113-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
15,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17118-2800,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
16,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17114-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
17,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17117-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
18,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17116-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0
19,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17102-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0
20,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17103-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0
21,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17105-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0
22,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17104-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0
23,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17107-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0
24,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17106-2792,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0
105,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17121-2800,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984.0
114,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,68-17123-2800,Amphibia,131,TN-NHP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984.0

This is still quite a bit of data! However, many databases don't process null records, or give an error if the record is null. So, let's remove the NaN values, and also save our work to a file. That way if the internet dies, or something, we still have our searches.

In [6]:
import numpy as np

locs = sal_slim.dropna(subset=['verbatimLocality'])
locs.to_csv("../data/locs.csv")

In [7]:
locs

,acceptedScientificName,acceptedTaxonKey,accessRights,associatedSequences,basisOfRecord,bibliographicCitation,catalogNumber,class,classKey,collectionCode,...,type,typeStatus,typifiedName,verbatimCoordinateSystem,verbatimElevation,verbatimEventDate,verbatimLocality,verbatimSRS,vernacularName,year
0,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,15340283,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018-08-11 9:42:04 PM EDT,"North Carolina, US",NaN,NaN,2018.0
1,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,6711596,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2017/06/18 10:17 AM EDT,"North Carolina, US",NaN,NaN,2017.0
2,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,4315418,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-10-08,"North Carolina, US",NaN,NaN,2016.0
0,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412172,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/10 11:31 AM CST,"Arkansas, US",NaN,NaN,2018.0
1,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412325,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/11 2:28 PM CST,"Arkansas, US",NaN,NaN,2018.0
2,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703951,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/31 4:54 PM CST,"Arkansas, US",NaN,NaN,2018.0
3,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412327,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/11 2:58 PM CST,"Arkansas, US",NaN,NaN,2018.0
4,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703766,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/30 4:14 PM CST,"Arkansas, US",NaN,NaN,2018.0
5,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412174,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/10 11:39 AM CST,"Arkansas, US",NaN,NaN,2018.0
6,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703765,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/30 2:05 PM CST,"Arkansas, US",NaN,NaN,2018.0
7,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703949,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/01/31 4:34 PM CST,"Arkansas, US",NaN,NaN,2018.0
8,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382926,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 6:16 PM CDT,"Arkansas, US",NaN,NaN,2018.0
9,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382636,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 3:24 PM CDT,"Arkansas, US",NaN,NaN,2018.0
10,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10560349,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/31 3:38 PM CDT,"Arkansas, US",NaN,NaN,2018.0
11,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10383094,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/22 9:53 AM CDT,"Arkansas, US",NaN,NaN,2018.0
12,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382637,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 3:25 PM CDT,"Arkansas, US",NaN,NaN,2018.0
13,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382921,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 5:48 PM CDT,"Arkansas, US",NaN,NaN,2018.0
14,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382920,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 5:48 PM CDT,"Arkansas, US",NaN,NaN,2018.0
15,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382924,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 5:53 PM CDT,"Arkansas, US",NaN,NaN,2018.0
16,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382448,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 12:25 PM CDT,"Arkansas, US",NaN,NaN,2018.0
17,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382635,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 3:21 PM CDT,"Arkansas, US",NaN,NaN,2018.0
18,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10241547,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Wed Mar 14 2018 15:29:44 GMT-0500 (CDT),"Arkansas, US",NaN,NaN,2018.0
19,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382923,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/03/21 5:50 PM CDT,"Arkansas, US",NaN,NaN,2018.0
21,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864346,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/04/11 2:05 PM CDT,"Arkansas, US",NaN,NaN,2018.0
24,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864348,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/04/11 2:08 PM CDT,"Arkansas, US",NaN,NaN,2018.0
26,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864354,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/04/11 3:50 PM CDT,"Arkansas, US",NaN,NaN,2018.0
27,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864355,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/04/11 3:57 PM CDT,"Arkansas, US",NaN,NaN,2018.0
30,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10834828,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/04/11 3:09 PM CDT,"Arkansas, US",NaN,NaN,2018.0
32,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864343,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/04/11 1:28 PM CDT,"Arkansas, US",NaN,NaN,2018.0
33,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864356,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2018/04/11 4:04 PM CDT,"Arkansas, US",NaN,NaN,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2860241,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-03-27 5:27:56 PM CDT,United States,NaN,NaN,2016.0
69,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2801326,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-03-18 5:44:24 PM CDT,"Arkansas, US",NaN,NaN,2016.0
70,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2860243,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-03-31 4:34:40 PM CDT,United States,NaN,NaN,2016.0
75,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2992200,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-04-19 9:56:35 PM CDT,United States,NaN,NaN,2016.0
90,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4462595,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016/10/25 4:49 PM CDT,United States,NaN,NaN,2016.0
91,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4333355,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-10-12,"Arkansas, US",NaN,NaN,2016.0
92,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4627015,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Wed Nov 23 2016 00:08:35 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0
93,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4627043,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Wed Nov 23 2016 01:03:51 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0
94,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4626790,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Tue Nov 22 2016 23:50:38 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0
95,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4506490,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-11-05 11:27:19 AM CDT,"Arkansas, US",NaN,NaN,2016.0
96,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4627039,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Wed Nov 23 2016 00:58:29 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0
97,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4506491,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2016-11-05 11:24:27 AM CDT,"Arkansas, US",NaN,NaN,2016.0
112,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1867050,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2014-03-31 15:35,United States,NaN,NaN,2014.0
113,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,696436,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2014-05-21 12:55:30,"Oklahoma, US",NaN,NaN,2014.0
114,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1067042,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2014-10-26 16:03:03,"Missouri, US",NaN,NaN,2014.0
115,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1039587,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2014-10-26,"Missouri, US",NaN,NaN,2014.0
116,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1522856,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2014-11-09,"Missouri, US",NaN,NaN,2014.0
117,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1522851,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2014-11-04,"Missouri, US",NaN,NaN,2014.0
118,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10990683,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2012/05/07 9:55 AM PDT,"Arkansas, US",NaN,NaN,2012.0
119,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,336106,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2011-04-20,"Arkansas, US",NaN,NaN,2011.0
126,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10362529,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2010/10/10 1:31 PM EDT,"Arkansas, US",NaN,NaN,2010.0
127,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10363110,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2010/10/10 1:51 PM EDT,"Arkansas, US",NaN,NaN,2010.0
128,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10362533,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2010/10/10 1:46 PM EDT,"Arkansas, US",NaN,NaN,2010.0
155,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2899796,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,4/10/1997 0:00,United States,NaN,NaN,1997.0
0,"Plethodon asupak Mead, Clayton, Nauman, Olson ...",2431523,NaN,NaN,HUMAN_OBSERVATION,NaN,5081166,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2014-11-27,"Klamath National Forest, Siskiyou County, US-C...",NaN,NaN,2014.0
0,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,6034706,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Sun Apr 30 2017 22:38:18 GMT-0400 (EDT),United States,NaN,NaN,2017.0
1,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,6451244,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,Mon May 29 2017 21:54:33 GMT-0400 (EDT),"Tennessee, US",NaN,NaN,2017.0
2,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,8162054,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2017/07/15 10:24 PM EDT,United States,NaN,NaN,2017.0
3,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,3557894,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2015-10-03,"Tennessee, US",NaN,NaN,2015.0
8,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,10683924,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,NaN,2007/08/05 1:08 PM PDT,"North Carolina, US",NaN,NaN,2007.0

What do you notice about these localities? 

We'll need to locate them to coordinates before we can plot them. To do this, we will use an open-source package call geopy, which takes in a string of a location and searches that string against a global map to get Lat and Long coordinates. We will use the values in the `locs` `verbatimLocality` column to do this. 

## Exercise Two: Talk the below code out with a partner. Decide what it does, and then run it to confirm.

In [9]:
from geopy.geocoders import Nominatim
import numpy as np

geolocator = Nominatim(user_agent="class")
locs['coords'] = 0
locations = []
for row in locs.verbatimLocality.iteritems():
    latlong = geolocator.geocode(row[1])
    if latlong is None:
        locations.append(0)
    else: 
        locations.append(latlong[1])

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

We now have a list. Use the below cell to confirm that the list is the same length as the locations dataframe.

In [12]:
len(locations) == len(locs)

True

This is an important step called `testing`. What would it mean if the list was not the same length? Would we want to keep using it? 

Next we will append the list as a new column.

In [13]:
se = pd.Series(locations)
locs['coords'] = se.values

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
locs

,acceptedScientificName,acceptedTaxonKey,accessRights,associatedSequences,basisOfRecord,bibliographicCitation,catalogNumber,class,classKey,collectionCode,...,typeStatus,typifiedName,verbatimCoordinateSystem,verbatimElevation,verbatimEventDate,verbatimLocality,verbatimSRS,vernacularName,year,coords
0,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,15340283,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018-08-11 9:42:04 PM EDT,"North Carolina, US",NaN,NaN,2018.0,"(35.6729639, -79.0392919)"
1,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,6711596,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2017/06/18 10:17 AM EDT,"North Carolina, US",NaN,NaN,2017.0,"(35.6729639, -79.0392919)"
2,"Plethodon amplus Highton & Peabody, 2000",2431511,NaN,NaN,HUMAN_OBSERVATION,NaN,4315418,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-10-08,"North Carolina, US",NaN,NaN,2016.0,"(35.6729639, -79.0392919)"
0,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412172,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/10 11:31 AM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
1,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412325,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/11 2:28 PM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
2,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703951,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/31 4:54 PM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
3,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412327,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/11 2:58 PM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
4,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703766,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/30 4:14 PM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
5,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,11412174,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/10 11:39 AM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
6,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703765,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/30 2:05 PM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
7,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,9703949,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/01/31 4:34 PM CST,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
8,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382926,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 6:16 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
9,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382636,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 3:24 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
10,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10560349,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/31 3:38 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
11,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10383094,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/22 9:53 AM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
12,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382637,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 3:25 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
13,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382921,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 5:48 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
14,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382920,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 5:48 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
15,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382924,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 5:53 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
16,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382448,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 12:25 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
17,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382635,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 3:21 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
18,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10241547,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,Wed Mar 14 2018 15:29:44 GMT-0500 (CDT),"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
19,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10382923,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/03/21 5:50 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
21,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864346,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/04/11 2:05 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
24,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864348,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/04/11 2:08 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
26,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864354,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/04/11 3:50 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
27,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864355,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/04/11 3:57 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
30,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10834828,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/04/11 3:09 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
32,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864343,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/04/11 1:28 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
33,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10864356,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2018/04/11 4:04 PM CDT,"Arkansas, US",NaN,NaN,2018.0,"(35.2048883, -92.4479108)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2860241,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-03-27 5:27:56 PM CDT,United States,NaN,NaN,2016.0,"(39.7837304, -100.4458825)"
69,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2801326,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-03-18 5:44:24 PM CDT,"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
70,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2860243,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-03-31 4:34:40 PM CDT,United States,NaN,NaN,2016.0,"(39.7837304, -100.4458825)"
75,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2992200,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-04-19 9:56:35 PM CDT,United States,NaN,NaN,2016.0,"(39.7837304, -100.4458825)"
90,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4462595,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016/10/25 4:49 PM CDT,United States,NaN,NaN,2016.0,"(39.7837304, -100.4458825)"
91,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4333355,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-10-12,"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
92,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4627015,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,Wed Nov 23 2016 00:08:35 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
93,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4627043,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,Wed Nov 23 2016 01:03:51 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
94,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4626790,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,Tue Nov 22 2016 23:50:38 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
95,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4506490,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-11-05 11:27:19 AM CDT,"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
96,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4627039,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,Wed Nov 23 2016 00:58:29 GMT-0600 (CST),"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
97,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,4506491,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2016-11-05 11:24:27 AM CDT,"Arkansas, US",NaN,NaN,2016.0,"(35.2048883, -92.4479108)"
112,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1867050,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2014-03-31 15:35,United States,NaN,NaN,2014.0,"(39.7837304, -100.4458825)"
113,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,696436,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2014-05-21 12:55:30,"Oklahoma, US",NaN,NaN,2014.0,"(34.9550817, -97.2684063)"
114,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1067042,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2014-10-26 16:03:03,"Missouri, US",NaN,NaN,2014.0,"(38.7604815, -92.5617875)"
115,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1039587,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2014-10-26,"Missouri, US",NaN,NaN,2014.0,"(38.7604815, -92.5617875)"
116,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1522856,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2014-11-09,"Missouri, US",NaN,NaN,2014.0,"(38.7604815, -92.5617875)"
117,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,1522851,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2014-11-04,"Missouri, US",NaN,NaN,2014.0,"(38.7604815, -92.5617875)"
118,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10990683,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2012/05/07 9:55 AM PDT,"Arkansas, US",NaN,NaN,2012.0,"(35.2048883, -92.4479108)"
119,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,336106,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2011-04-20,"Arkansas, US",NaN,NaN,2011.0,"(35.2048883, -92.4479108)"
126,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10362529,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2010/10/10 1:31 PM EDT,"Arkansas, US",NaN,NaN,2010.0,"(35.2048883, -92.4479108)"
127,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10363110,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2010/10/10 1:51 PM EDT,"Arkansas, US",NaN,NaN,2010.0,"(35.2048883, -92.4479108)"
128,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,10362533,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2010/10/10 1:46 PM EDT,"Arkansas, US",NaN,NaN,2010.0,"(35.2048883, -92.4479108)"
155,"Plethodon angusticlavius Grobman, 1944",2431498,NaN,NaN,HUMAN_OBSERVATION,NaN,2899796,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,4/10/1997 0:00,United States,NaN,NaN,1997.0,"(39.7837304, -100.4458825)"
0,"Plethodon asupak Mead, Clayton, Nauman, Olson ...",2431523,NaN,NaN,HUMAN_OBSERVATION,NaN,5081166,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2014-11-27,"Klamath National Forest, Siskiyou County, US-C...",NaN,NaN,2014.0,"(41.82693585, -122.903436781831)"
0,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,6034706,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,Sun Apr 30 2017 22:38:18 GMT-0400 (EDT),United States,NaN,NaN,2017.0,"(39.7837304, -100.4458825)"
1,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,6451244,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,Mon May 29 2017 21:54:33 GMT-0400 (EDT),"Tennessee, US",NaN,NaN,2017.0,"(35.7730076, -86.2820081)"
2,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,8162054,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2017/07/15 10:24 PM EDT,United States,NaN,NaN,2017.0,"(39.7837304, -100.4458825)"
3,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,3557894,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2015-10-03,"Tennessee, US",NaN,NaN,2015.0,"(35.7730076, -86.2820081)"
8,"Plethodon aureolus Highton, 1984",2431534,NaN,NaN,HUMAN_OBSERVATION,NaN,10683924,Amphibia,131,Observations,...,NaN,NaN,NaN,NaN,2007/08/05 1:08 PM PDT,"North Carolina, US",NaN,NaN,2007.0,"(35.6729639, -79.0392919)"

We will now do three last activities: 
- Write this raw data into our data folder as a CSV file.
- Decide how we want to treat missing values (0-values), and apply this treatment.
- Write out the treated data as separate from the raw data.

In [15]:
locs.to_csv("../data/locs.csv")

In [23]:
no_zeroes = locs[(locs.coords != 0)]

In [25]:
no_zeroes.to_csv("../data_output/dropped_zeroes.csv")